html,
body,
.container {
  padding: 0;
  border: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  align-items: stretch;
  width: 100%;
  background: #444;
}

.col {
  flex: 1 1 1px;
}
